<div class="has-background-info">
    <div 
        id="login-container" 
        class="container has-background-info is-flex is-justify-content-center is-align-items-center"
    >

        <div id="form" class="column is-3" *ngIf="!waitingLoging">

            <form action="">

                <div class="form-group">

                    <!-- Username -->
                    <div class="field">
                        <label class="label has-text-white">Username</label>
                        <div class="control">
                        <input class="input" type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="field">
                        <label class="label has-text-white">Password</label>
                        <div class="control">
                        <input class="input" type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <span class="tag is-danger column is-12 mb-4" *ngIf="error">Username or password are incorrect</span>

                    <div class="field">
                        <button class="button is-primary is-fullwidth" (click)="doLogin()">Login</button>
                    </div>
                    
                </div>

            </form>

        </div>

        <div id="loader" class="column is-3 is-flex is-justify-content-center" *ngIf="waitingLoging">
            <svg width="50" height="50" viewBox="0 0 38 38" stroke="#fff"><script xmlns=""></script>
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="2">
                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                        <path d="M36 18c0-9.94-8.06-18-18-18">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                        </path>
                    </g>
                </g>
                <script xmlns=""></script>
            </svg>
        </div>
        
    </div>
</div>
