<div class="has-background-info">
    <div 
        id="login-container" 
        class="container has-background-info is-flex is-justify-content-center is-align-items-center"
    >

        <div id="form" class="column is-3">

            <form action="">

                <div class="form-group">

                    <!-- Username -->
                    <div class="field">
                        <label class="label has-text-white">Email</label>
                        <div class="control">
                        <input class="input" type="email" placeholder="User email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="field">
                        <label class="label has-text-white">Password</label>
                        <div class="control">
                        <input class="input" type="email" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <div class="field">
                        <button class="button is-primary is-fullwidth">Login</button>
                    </div>

                    <span class="tag is-danger column is-12">Username or password are incorrect</span>
                    
                </div>

            </form>

        </div>
        
    </div>
</div>
