
<div id="content" class="container">

    <div class="row">

        <!-- Filters -->
        <div id="filters" class="col-2">
            <h2 class="title">Filters</h2>
            <app-filters (onCheckBoxSelect)="onCheckBoxSelect($event)"></app-filters>
        </div>

        <!-- Catalogue section -->
        <div id="catalogue" class="col">
            <h2 class="title">Catalogue</h2>
            <div class="d-flex gap-0.5 gap-md-1 justify-content-around flex-wrap">

                <!-- Products -->
                <ng-container *ngFor="let product of Products">
                    <div 
                        class="col-12 col-sm-4 col-md-3 mb-4 p-3 box" 
                        *ngIf="filterList.indexOf(product.category) > -1 || filterList.length == 0"
                        [attr.data-id]="product.id">
                        <div class="d-flex flex-column justify-content-center">
                            <img [attr.src]="product.image" [attr.alt]="product.title" class="product-images">
                            <p class="product-title mt-4">{{ reduceTitle(product.title) }}</p>
                            <a href=""><span class="badge text-bg-primary">{{ product.category }}</span></a>
                            <app-rating 
                                [rate]="product.rating.rate"
                                [count]="product.rating.count"
                            >
                            </app-rating>
                            <p>&nbsp;</p>
                            <div class="d-flex justify-content-between">
                                <span class="price fs-4">{{ product.price }} €</span>
                                <button class="btn btn-success">Comprar</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
            </div>
        </div>

    </div>
</div>