
<div class="container">
    <div id="content" class="columns is-2 p-2 pt-6">
        <div id="filters" class="column is-narrow">
            <h2 class="title">Filters</h2>
            <app-filters (onCheckBoxSelect)="onCheckBoxSelect($event)"></app-filters>
        </div>
        <div id="catalogue" class="column is-four-quarter">
            <h2 class="title">Catalogue</h2>
            <div class="columns is-mobile is-multiline is-flex is-flex-direction-row is-justify-content-flex-start">
                <ng-container 
                    *ngFor="let product of Products"
                    
                >
                    <product-box 
                        *ngIf="filterList.indexOf(product.category) > -1 || filterList.length == 0"
                        [product]="product"
                    ></product-box>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<app-modal></app-modal>